@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.header {
  background-color: 	#657689;
  color: white;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

